*~
*.pyc
*.swp
*.swn
*.swo
Thumbs.db
.DS_Store
deploy
deploy/*
*.cprof
*.profile
*.log
*.pem
pylint*
*.tmproj
test_site
dist
build
*egg*
.idea
PYSMELLTAGS
.noseids
*.tar.gz
.hyde_deps
src
.tm_properties
