---
title: Postgres Slow Deletes
description: Postgresql slow deletes
---

{% extends "base.j2" %}


{% block main %}
## Welcome

[hyde-bootstrap](http://github.com/auzigog/hyde-bootstrap/) is a layout for Hyde based on the Bootstrap framework.

This particular page is based on Bootstrap's [fluid.html.html](http://twitter.github.io/bootstrap/examples/fluid.html) example.

[link1](http://postgresql.1045698.n5.nabble.com/slow-delete-td2069386.html)
[blktrace tutorial](http://www.cse.unsw.edu.au/~aaronc/iosched/doc/blktrace.html)
[Check postgres](http://bucardo.org/wiki/Check_postgres)
[delete-sql-too-slow](http://grokbase.com/t/postgresql/pgsql-general/02935849bs/delete-sql-too-slow)
[psqlrc-tips-and-tricks](http://www.if-not-true-then-false.com/2009/postgresql-psql-psqlrc-tips-and-tricks/)
[sudden query slowdown](http://postgresql.1045698.n5.nabble.com/Sudden-Query-slowdown-on-our-Postgresql-Server-td5588183.html)
[Postgres Optimization](http://wiki.postgresql.org/wiki/Performance_Optimization)
[Postgres performance troubleshooting](http://feeding.cloud.geek.nz/posts/troubleshooting-postgres-performance/)
[How to: View table/row locks in Postgres](http://heatware.net/databases/how-view-see-table-row-locks-postgres/)


{% endblock main %}

